.circle__inner {

    position: relative;

    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: lightblue;

    margin-top: 227px;
}

.circle__elem {

    position: absolute;
    top: 50%;
    left: 50%;

    /* top-buttom left-right */
    margin: -25px -25px;

    background-color: aquamarine;
    width: 50px;
    height: 50px;

    border-radius: 25px;
}