body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    height: 100vh;
}

.container__inner {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}