.flex-content {
    width: 50%;
    height: 300px;

    background-color: lightgrey;

    margin: 0 auto;

    border: 3px solid #000;

    display: flex;
    justify-content: space-between;
}

.flex-content div {
    width: 80px;
    height: 50px;

    line-height: 50px;
    text-align: center;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: yellow;
}

.item4 {
    background-color: green;
}