.calculator {
    width: 270px;
    height: 540px;
    border-radius: 15px;
    background-color: rgb(36, 37, 47);
}

.calculator__inner {
    display: flex;
    flex-direction: column;
}

.calculator__window {
    flex: 0 1 160px;
}


.calculator__interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.calculator__btn {
    width: 58px;
    height: 58px;

    margin-top: 8px;
    line-height: 58px;
    text-align: center;
    border-radius: 29px;
    background-color: rgb(46, 47, 61);
}