* {
    background-color: aquamarine;
}

p {
    font-size: 16px;
    color: green;
}

.nature {
    color: orange;
}

#ecology {
    color: brown;
}

.ecology_div {
    display: block;
    text-align: center;
    height: 40px;
    text-decoration: underline;
    /* background-color: aqua; */
    padding: 10px;
}

.ecology_div span {
    display: block;
    background-color: antiquewhite;
}

div {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: red;
}

/* search-form */

.search-form {
    width: 50px;
    height: 30px;
}

.search-form_focused {
    height: 80px;
    background-color: whitesmoke;
}

.search-form__button {
    background-color: green;
    width: 100px;
    height: 30px;
}

.search-form__button_disabled {
    background-color: aqua;
}